In [1]:
from tswift import Artist
from tswift import Song
import random
import pandas as pd

/Users/kHuangpu/.pyenv/versions/3.7.1/lib/python3.7/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Obtain 1000+ things. You can get them via scraping, using an API, or even downloading a few large texts and using .split(".") to break them into sentences.  Either text or numeric is fine.

# If unlabeled, label at least 100 of them and write a classifier to label the rest.

# If labeled, write a classifier to automatically classify them.

# Try several classifiers to find the 'best' results according to accuracy score and confusion matrix.

# Find the most important features.

In [2]:
tswift = Artist('Taylor Swift')
song = random.choice(tswift.songs)
print(song.lyrics)

Drew looks at me
I fake a smile so he won't see
What I want and I need
And everythin' that we should be

I'll bet she's beautiful
That girl he talks about
And she's got everythin'
That I have to live without

Drew talks to me
I laugh 'cause it's just so funny
But I can't even see

Anyone when he's with me
He says he's so in love
He's finally got it right
I wonder if he knows
He's all I think about at night

He's the reason for the teardrops on my guitar
The only thing that keeps me wishin' on a wishin' star

He's the song in the car I keep singin'
Don't know why I do

Drew walks by me
Can he tell that I can't breathe?
And there he goes, so perfectly

The kind of flawless I wish I could be
She better hold him tight
Give him all her love
Look in those beautiful eyes
And know she's lucky 'cause

He's the reason for the teardrops on my guitar
The only thing that keeps me wishin' on a wishin' star
He's the song in the car I keep singin'
Don't know why I do

So I drive home alone
As I turn out the light
I'll put his picture down
And maybe get some sleep tonight

'Cuz he's the reason for the teardrops on my guitar
The only one who's got enough of me to break my heart
He's the song in the car I keep singin'
Don't know why I do (why I do)
He's the time taken up but there's never enough
And he's all that I need to fall into
Drew looks at me
I fake a smile so he won't see

In [3]:
songs = tswift.songs

In [32]:
list_of_songs = []
for song in songs:
    temp = song.lyrics.split('\n') 
    for sublist in temp:
        if sublist!='':
            list_of_songs.append(sublist)

In [6]:
# tempp = []
# for i in range(2):
#     temp = songs[i].lyrics.split('\n') 
#     for sublist in temp:
#         tempp.append(sublist)
# tempp

In [7]:
dict = {'lyric': list_of_songs}
df = pd.DataFrame(dict)
df.to_csv('lyrics.csv')

# write a classifier to automatically classify them.

# Try several classifiers to find the 'best' results according to accuracy score and confusion matrix.

# Find the most important features.

In [8]:
albums = pd.read_csv('lyrics with album.csv')

In [9]:
albums

                                                  lyric       album
0        Knew he was a killer first time that I saw him  reputation
1     Wondered how many girls he had loved and left ...  reputation
2          But if he's a ghost, then I can be a phantom  reputation
3                                Holdin' him for ransom  reputation
4     Some, some boys are tryin' too hard, he don't ...  reputation
...                                                 ...         ...
2438      You never gave a warning sign (All this time)    folklore
2439  (So many signs) I never learned to read your mind    folklore
2440  (So many signs) I couldn't turn things around ...    folklore
2441  'Cause you never gave a warning sign (You neve...    folklore
2442                      You never gave a warning sign    folklore

[2443 rows x 2 columns]

In [10]:
albums.album.value_counts()

reputation      461
1989            415
red             368
folklore        327
fearless        290
lover           281
speak now       202
taylor swift     86
Name: album, dtype: int64

# choosing to compare albums that are clearly pop vs country

In [46]:
pop_or_country = pd.read_csv('poporcountry.csv')
pop_or_country = pop_or_country.dropna()
pop_or_country = pop_or_country.drop('album', axis=1)

In [48]:
pop_or_country.head()

                                               lyric genre
0     Knew he was a killer first time that I saw him   pop
1  Wondered how many girls he had loved and left ...   pop
2       But if he's a ghost, then I can be a phantom   pop
3                             Holdin' him for ransom   pop
4  Some, some boys are tryin' too hard, he don't ...   pop

In [49]:
pop_or_country.genre.value_counts()

pop        1162
country     573
Name: genre, dtype: int64

In [51]:
pop_or_country['is_pop'] =  (pop_or_country.genre == 'pop').astype(int)
pop_or_country.is_pop.value_counts()

1    1162
0     573
Name: is_pop, dtype: int64

In [52]:
pop_or_country.head()

                                               lyric genre  is_pop
0     Knew he was a killer first time that I saw him   pop       1
1  Wondered how many girls he had loved and left ...   pop       1
2       But if he's a ghost, then I can be a phantom   pop       1
3                             Holdin' him for ransom   pop       1
4  Some, some boys are tryin' too hard, he don't ...   pop       1

In [61]:
pd.DataFrame({
    'baby': pop_or_country.lyric.str.contains("baby", na=False).astype(int),
    'gold': pop_or_country.lyric.str.contains("gold", na=False).astype(int),
    'red': pop_or_country.lyric.str.contains("red", na=False).astype(int),
    'city': pop_or_country.lyric.str.contains("city", na=False).astype(int),
    'hand': pop_or_country.lyric.str.contains("hand", na=False).astype(int),
    'try': pop_or_country.lyric.str.contains("try", na=False).astype(int),
    'why': pop_or_country.lyric.str.contains("why", na=False).astype(int),
    'blue': pop_or_country.lyric.str.contains("baby", na=False).astype(int),
    'street': pop_or_country.lyric.str.contains("street", na=False).astype(int),
    'all': pop_or_country.lyric.str.contains("all", na=False).astype(int),
    'boy': pop_or_country.lyric.str.contains("boy", na=False).astype(int),
    'man': pop_or_country.lyric.str.contains("man", na=False).astype(int),
})

      baby  gold  red  city  hand  try  why  blue  street  all  boy  man
0        0     0    0     0     0    0    0     0       0    0    0    0
1        0     0    1     0     0    0    0     0       0    0    0    1
2        0     0    0     0     0    0    0     0       0    0    0    0
3        0     0    0     0     0    0    0     0       0    0    0    0
4        0     0    0     0     0    1    0     0       0    1    1    0
...    ...   ...  ...   ...   ...  ...  ...   ...     ...  ...  ...  ...
2205     0     0    0     0     0    0    0     0       0    0    0    0
2206     0     0    0     0     0    0    0     0       0    0    0    0
2207     0     0    0     0     0    0    0     0       0    0    0    0
2208     0     0    0     0     0    0    0     0       0    0    0    0
2209     0     0    0     0     0    0    0     0       0    0    0    0

[1735 rows x 12 columns]

In [62]:
pop_or_country = pop_or_country.drop('genre', axis=1)

KeyError: "['genre'] not found in axis"

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [64]:
# Make a vectorizer
vectorizer = TfidfVectorizer(stop_words='english', min_df=100)

# Learn and count the words in df.content
matrix = vectorizer.fit_transform(pop_or_country.lyric)
words_df = pd.DataFrame(matrix.toarray(),
                        columns=vectorizer.get_feature_names())
words_df

      don
0     0.0
1     0.0
2     0.0
3     0.0
4     1.0
...   ...
1730  0.0
1731  0.0
1732  0.0
1733  0.0
1734  0.0

[1735 rows x 1 columns]

In [17]:
# features
X = words_df
# labels
y = pop_or_country.is_pop

In [18]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10)
clf.fit(X, y)

RandomForestClassifier(n_estimators=10)

In [19]:
clf.score(X, y)

0.6697406340057637

In [66]:
from sklearn.metrics import confusion_matrix

y_true = y
y_pred = clf.predict(X)
matrix = confusion_matrix(y_true, y_pred)

label_names = pd.Series(['pop', 'country'])
pd.DataFrame(matrix,
     columns='Predicted ' + label_names,
     index='Is ' + label_names)

            Predicted pop  Predicted country
Is pop                  0                573
Is country              0               1162

In [67]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [68]:
clf.fit(X_train, y_train)

LinearSVC()

In [74]:
clf.score(X_test, y_test)

0.6682027649769585

In [70]:
from sklearn.metrics import confusion_matrix

y_true = y_test
y_pred = clf.predict(X_test)
matrix = confusion_matrix(y_true, y_pred)

label_names = pd.Series(['pop', 'country'])
pd.DataFrame(matrix,
     columns='Predicted ' + label_names,
     index='Is ' + label_names)

            Predicted pop  Predicted country
Is pop                  0                144
Is country              0                290

In [71]:
from sklearn.svm import LinearSVC

# LinearSVC
# good for sparse data??? e.g. text classification
# VERY FAST!!!
clf = LinearSVC()

# Teach the classifier how the words (X) relate to the categories (y)
clf.fit(X_train, y_train)

LinearSVC()

In [75]:
clf.score(X_test, y_test)

0.6682027649769585

In [73]:
from sklearn.metrics import confusion_matrix

y_true = y_test
y_pred = clf.predict(X_test)
matrix = confusion_matrix(y_true, y_pred)

label_names = pd.Series(['pop', 'country'])
pd.DataFrame(matrix,
     columns='Predicted ' + label_names,
     index='Is ' + label_names)

            Predicted pop  Predicted country
Is pop                  0                144
Is country              0                290

In [65]:
import eli5

feature_names = list(words_df.columns)
eli5.show_weights(clf, feature_names=feature_names)